# Projet specific files
SockMud.depend
SockMud.layout
Mud.depend
Mud.layout
dev/bin/Debug/*
dev/obj/Debug/*
dev/bin/Release/*
dev/obj/Release/*

# Object files
*.o
*.obj

# Temp / Backup files
*~
*.bak
*.save
*.orig

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.z
